<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sindicato dos Trainees</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="titulo">Index</h1>
        </div>
    </header>
    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        </nav>
        <section class="container">
          <button id="exibir-lista" type="button" class="botao btn">Exibir Lista</button>
          <ul class="invisivel" id="lista">
            <li id="item-1">item 1</li>
            <li id="item-2">item 2</li>
            <li id="item-3">item 3</li>
          </ul>
          <br>
          <p>Digite seu nome</p> 
          <input class="" placeholder="João da Silva" type="text" id="input-nome"><br>
          <button id="botao-enviar" type="submit" class="botao btn">Continuar</button>
        </section>
    </main>
    <script src="resources/libs/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
    <script src="resources/js/teste.js"></script>
</body>
</html>