<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sindicato dos Trainees - Usuarios</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="resources/css/estilo.css">
</head>
<body>
	<section class="tabela">
		<h5 class="center">Lista de usuários cadastrados no sistema</h5>
		<table class="centered">
			<thead>
				<th>Nome</th>
				<th>Login</th>
				<th></th>
			</thead>
			<tbody>
				<!-- montar a tabela dinamicamente usando javascript --> 

				<!-- pegar as variáveis usando ajax (get endpoint usuarios)--> 
			</tbody>
		</table>
	</section>
	<ul class="center">
			<li class="usuario"></li>
	</ul>
	<script src="resources/libs/jquery-3.6.0.js"></script>
	<script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
	<script src="resources/js/lista-usuarios.js"></script>
</body>
</html>