<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Sindicato Trainees</title>
	<link rel="icon" href="resources/img/indice.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="resources/css/estilo.css">
</head>
<body>
	<div id="navbar"></div>
	<h3 class="center">Login Sindicato dos Trainees</h3>
	<br>
	<div class="center">
		<form class="col s12" action="/criar-sessao" method="post">
			<div class="row">
				<div class="input-field col s3 offset-s4">
					<i class="material-icons prefix">account_circle</i>
					<input placeholder="Placeholder" id="first_name" name="login" type="text" class="validate">
					<label for="first_name">Usuário</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s4">
					<i class="material-icons prefix">lock_outline</i>
					<input id="password" name="senha" type="password" class="validate">
					<label for="password">Senha</label>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn waves-effect waves-light">
					Entrar
					<i class="material-icons right">arrow_forward</i>
				</button>
			</div>
		</form>
	</div>

	<script src="resources/libs/jquery-3.6.0.js"></script>
	<script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
	<script type="text/javascript"> $('#navbar').load('/navbar'); </script>
</body>
</html>