<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sindicato dos Trainees - Usuarios</title>
	<!-- <link rel="shortcut icon" href="data:/public/img/favicon.ico" type="image/x-icon"> -->
	<link rel="icon" href="public/img/indice.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="public/css/estilo.css">
</head>
<body>
	<div id="navbar"></div>
	<section class="row">
		<h4 class="center">Lista de usuários cadastrados no sistema</h4>
		<table class="centered row col s8 offset-s2 striped responsive-table">
			<thead>
				<th>Nome</th>
				<th>Login</th>
				<th></th>
			</thead>
			<tbody>
				<!-- montar a tabela dinamicamente usando javascript --> 

				<!-- pegar as variáveis usando ajax (get endpoint usuarios)--> 
			</tbody>
			<tfoot class="footer center-align">
				<tr class="footer">
					<td class="footer">
						<label for="input-qntPorPag">Quantidade de resultados por página</label>
						<input
							value="3"
							type="number"
							onchange="getUsuariosAjax()"
							id="input-qntPorPag"
							name="qntPorPag"
							min="1"
						/>
						<br>
						<button
							class="btn-floating btn-small waves-effect waves-light"
							onclick="paginaAnterior()"
							id="botao-pagina-anterior"
						>
							<i class="material-icons right">arrow_left</i>
						</button>
						<label for="input-pagina">Página</label>
						<input
							value="1"
							type="number"
							onchange="getUsuariosAjax()"
							placeholder="pag"
							id="input-pagina"
							name="pagina"
							min="1"
						/>
						<button
							class="btn-floating btn-small waves-effect waves-light"
							onclick="proximaPagina()"
							id="botao-pagina-posterior"
						>
							<i class="material-icons right">arrow_right</i>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</section>
	<script src="resources/libs/jquery-3.6.0.js"></script>
	<script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
	<script src="public/js/usuario/lista-usuarios.js"></script>
	<script type="text/javascript"> $('#navbar').load('/navbar'); </script>
</body>
</html>