.botao {
	margin: 5px;
}

.invisivel {
	display: none;
}

.radio-box {
	margin: 10px;
}

#img-logo {
	max-width: 120px;
	max-height: 50px;
}

.info {
    font-size: 20px;
    color:rgb(0, 128, 90);
    display: none;
}

#spinner{
	display: none;
}

table {
	margin: 15px;
}

td {
	display: table-cell;
}
  
/* td, th {
	border: 1px solid #dddddd;
} */

tfoot {
	max-height: 100px;
}

.footer {
	display: block;
	border: none;
}

#input-pagina, #input-qntPorPag {
	margin: 5px;
	font-size: large;
	max-width: 50px;
	border: none;
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

.filtro-pesquisa {
	max-width: 100%;
}

#acoes-filiados {
	margin-bottom: 0px;
	max-height: 75px;
}

#tabela-filiados {
	margin-top: 0px;
}

#div-botoes-filiados {
	max-width: 100%;
}

select {
	display: block;
}

/* .frase {
	font-size: 20px;
}

#campo-digitacao {
	font-size: 20px;
	height: 130px;
	border: 3px solid black;
}

.campo-desabilitado {
	background-color: lightgrey;
}

.icone {
	vertical-align: middle;
}

.borda-vermelha {
	border: 10px solid red;
}

.borda-verde {
	border: 10px solid green;
}

.botao {
	margin: 3px;
}

.placar {
	display: none;
}

body {
	overflow: scroll;
}

.erro {
	color: red;
	display: none;
}

.info {
	font-size: 20px;
	color:rgb(0, 128, 90);
	display: none;
}

#frase-id{
	width: 40px;
}

#botao-salvar-placar{
	float: right;
}

#botao-placar{
	float: right;
}

.select-usuarios {
	display: inline-block;
}

#usuarios {
	display: block;
}

.selectize-input {
	width: 150px;
	vertical-align: middle;
} */