<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro de Filiado</title>
	<link rel="icon" href="public/img/indice.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="public/css/estilo.css">
</head>
<body>
	<div id="navbar"></div>
	<h3 class="center">Cadastro de Filiado</h3>
	<br>
	<div class="row">
		<form class="col s12" action="#" method="post">
			<div class="center">
				<img src="public/img/spinner.gif" alt="Spinner" id="spinner">
				<p class="info" id="p-info">Info</p>
			</div>
			<div class="center">
				<div class="input-field col s3 offset-s2">
					<i class="material-icons prefix">person</i>
					<input placeholder="João da Silva" id="input-nome" name="nome" type="text" class="validate">
					<label for="input-nome">Nome</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">C</i>
					<input placeholder="123.456.789-10" id="input-CPF" name="CPF" type="text" class="validate">
					<label for="input-CPF">CPF</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">R</i>
					<input placeholder="1.234.567-8" id="input-RG" name="RG" type="text" class="validate">
					<label for="input-RG">RG</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s3">
					<i class="material-icons prefix">date_range</i>
					<input placeholder="1990-12-20" id="input-dataNascimento" name="dataNascimento" type="date" class="validate">
					<label for="input-dataNascimento">Data de Nascimento</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">I</i>
					<input placeholder="" id="input-idade" name="idade" type="number" class="validate">
					<label for="input-idade">Idade</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s3">
					<i class="material-icons prefix">phone</i>
					<input placeholder="(79)3233-1234" id="input-telefone" name="telefone" type="text" class="validate">
					<label for="input-telefone">Telefone</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">smartphone</i>
					<input placeholder="(79)91234-5678" id="input-celular" name="celular" type="text" class="validate">
					<label for="input-celular">Celular</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s2">
					<i class="material-icons prefix">account_balance</i>
					<label for="select-empresa">Empresa</label>
					<br><br>
					<select id="select-empresa" name="empresa"><!--Adicionar opções pelo javascript --></select>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">supervisor_account</i>
					<label for="select-cargo">Cargo</label>
					<br><br>
					<select id="select-cargo" name="cargo"><!--Adicionar opções pelo javascript --></select>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">weekend</i>
					<label for="select-situacao">Situação</label>
					<br><br>
					<select id="select-situacao" name="situacao"><!--Adicionar opções pelo javascript --></select>
				</div>
			</div>
			<br>
			<h5 class="center">Dependentes</h5>
			<br><br>
			<section id="section-dependentes">
				<input type="hidden" value="1" id="qnt-dependentes" name="qnt-dependentes">
				<div class="row" id="dependente-1">
					<div class="input-field col s3 offset-s2">
						<i class="material-icons prefix">person</i>
						<input placeholder="Nome do dependente" id="input-dependente-1-nome" name="dependente-1-nome" type="text">
						<label for="input-dependente-1-nome">Nome do dependente</label>
					</div>
					<div class="input-field col s3">
						<i class="material-icons prefix">date_range</i>
						<input placeholder="2005-05-24" id="input-dependente-1-dataNascimento" name="dependente-1-dataNascimento" type="date">
						<label for="input-dependente-1-dataNascimento">Data de nascimento do dependente</label>
					</div>
					<div class="input-field col s3">
						<i class="material-icons prefix">supervisor_account</i>
						<input placeholder="Neto" id="input-dependente-1-parentesco" name="dependente-1-parentesco" type="text">
						<label for="input-dependente-1-parentesco">Grau de Parentesco</label>
					</div>
				</div>
			</section>
			<div class="center-align">
				<button type="button" id="botao-adicionar-dependente" class="btn waves-effect waves-light green accent-3">
					Adicionar Dependente
					<i class="material-icons right">group_add</i>
				</button>
				<button type="button" id="botao-remover-dependente" class="btn waves-effect waves-light orange accent-3">
					Remover Dependente
					<i class="material-icons right"></i>
				</button>
			</div>
			<br><br><br>
			<div class="center-align">
				<button type="button" id="botao-enviar" class="btn waves-effect waves-light">
					Cadastrar Filiado
					<i class="material-icons right">send</i>
				</button>
			</div>
			<span id="teste"></span>
		</form>
	</div>

	<script src="resources/libs/jquery-3.6.0.js"></script>
	<script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
	<script type="text/javascript"> $('#navbar').load('/navbar'); </script>
	<script type="text/javascript" src="public/js/filiado/cadastro-filiado.js"></script>
</body>
</html>