<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar Filiado - Sindicato Trainees</title>
	<link rel="icon" href="public/img/indice.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="public/css/estilo.css">
</head>
<body>
	<div id="navbar"></div>

	<h3 class="center">Editar Filiado</h3>
	<br>
	<div class="row">
		<form class="col s12" action="#" method="post">
			<input type="hidden" name="_method" value="put" />
			<div class="center">
				<img src="public/img/spinner.gif" alt="Spinner" id="spinner">
				<p class="info" id="p-info">Info</p>
			</div>
			<div class="row">
				<div class="input-field col s4 offset-s4">
					<i class="material-icons prefix">person</i>
					<input value="x" id="input-nome" name="nome" type="text">
					<label for="input-nome" class="active">Nome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s2 offset-s4">
					<i class="material-icons prefix">phone</i>
					<input value="x" id="input-telefone" name="nome" type="text">
					<label for="input-nome" class="active">Telefone</label>
				</div>
				<div class="input-field col s2">
					<i class="material-icons prefix">smartphone</i>
					<input value="x" id="input-celular" name="nome" type="text">
					<label for="input-nome" class="active">Celular</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s2">
					<i class="material-icons prefix">account_balance</i>
					<label for="select-empresa">Empresa</label>
					<br><br>
					<select id="select-empresa" name="empresa"><!--Adicionar opções pelo javascript --></select>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">supervisor_account</i>
					<label for="select-cargo">Cargo</label>
					<br><br>
					<select id="select-cargo" name="cargo"><!--Adicionar opções pelo javascript --></select>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">weekend</i>
					<label for="select-situacao">Situação</label>
					<br><br>
					<select id="select-situacao" name="situacao"><!--Adicionar opções pelo javascript --></select>
				</div>
			</div>
			<div class="row">
				<button type="button" id="botao-excluir" class="botao btn waves-effect waves-light red col s2 offset-s3">
					Excluir Filiado
					<i class="material-icons right">delete</i>
				</button>
				<button type="button" id="botao-enviar" class="botao btn waves-effect waves-light col s2 offset-s2">
					Enviar Alterações
					<i class="material-icons right">edit</i>
				</button>
			</div>
			<span id="teste"></span>
		</form>
	</div>

	<script src="resources/libs/jquery-3.6.0.js"></script>
	<script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
	<script src="public/js/filiado/editar-filiado.js"></script>
</body>
</html>