<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Situação</title>
    <link rel="icon" href="public/img/indice.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/libs/materialize/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="public/css/estilo.css">
</head>
<body>
    <div id="navbar"></div>
    <h4 class="center">Adicionar Situação</h4>
    <div class="row">
		<div class="center">
			<p class="info" id="p-info">Info</p>
		</div>
		<form class="col s12" action="#" method="post">
			<div class="row">
				<div class="input-field col s6 offset-s3">
					<i class="material-icons prefix">house</i>
					<input placeholder="MoobiTech" id="input-nome" name="nome" type="text" class="validate">
					<label for="first_name">Nome</label>
				</div>
			</div>
            <div class="center-align">
				<button id="botao-enviar" type="button" class="btn waves-effect waves-light">
					Adicionar
					<i class="material-icons right">arrow_right</i>
				</button>
			</div>
		</form>
        <table class="centered row col s8 offset-s2 striped responsive-table">
			<thead>
                <tr>
                    <th>Nome</th>
                    <th>Editar / Excluir</th>
                </tr>
			</thead>
			<tbody>
				<!-- montar a tabela dinamicamente usando javascript --> 

				<!-- pegar as variáveis usando ajax (get endpoint usuarios)--> 
			</tbody>
			<tfoot class="footer center-align">
				<tr class="footer">
					<td class="footer">
						<label for="input-qntPorPag">Quantidade de resultados por página</label>
						<input
							value="3"
							type="number"
							onchange="getSituacaosAjax()"
							id="input-qntPorPag"
							name="qntPorPag"
							min="1"
						/>
						<br>
						<button
							class="btn-floating btn-small waves-effect waves-light"
							onclick="paginaAnterior()"
							id="botao-pagina-anterior"
						>
							<i class="material-icons right">arrow_left</i>
						</button>
						<label for="input-pagina">Página</label>
						<input
							value="1"
							type="number"
							onchange="getSituacaosAjax()"
							placeholder="pag"
							id="input-pagina"
							name="pagina"
							min="1"
						/>
						<button
							class="btn-floating btn-small waves-effect waves-light"
							onclick="proximaPagina()"
							id="botao-pagina-posterior"
						>
							<i class="material-icons right">arrow_right</i>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
    <script src="resources/libs/jquery-3.6.0.js"></script>
	<script type="text/javascript" src="resources/libs/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="public/js/situacao/situacao.js"></script>
</body>
</html>